frida>=16.0
sqlcipher3>=0.6.2
zstandard>=0.22
psutil>=5.9
PySide6>=6.6,<7
Pillow>=10
pycryptodome>=3.20
python-docx>=1.1
qrcode[pil]>=8,<9
pysilk-mod==1.6.4
imageio-ffmpeg>=0.5,<1
jieba==0.42.1
uiautomation>=2.0.18
pywin32>=305
pyperclip>=1.8.2
pyautogui>=0.9.53
opencv-python>=4.8
winsdk>=1.0.0b10
requests>=2.31,<3
beautifulsoup4>=4.12,<5
reportlab>=4,<5
